body {
  font-family: 'Lato', sans-serif;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.parallax-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/paper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Site-content {
  flex: 1;
}

.form{
	margin-top:20px;
	margin-bottom:40px;
}

.container {
	height: 100%;
  width: 80%;
}

.content {
padding-top: 10px;
padding-bottom: 10px;
}

#icon_telephone{
	margin-bottom: 5px;
}

.note{
	margin-top: 5px;
}

.layer {
	z-index: 100;
	background-color: #212121;
	opacity: 0.4;
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
}

.center-page {
	z-index: 200;
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;  	
}

.video-embed {
  width: 80%;
  margin: auto;
}

.promo-example {
  overflow: hidden;
}

.promo {
    width: 100%;
    margin-bottom: 5%;
}

.border {
    margin-right: 7%;
    margin-left: 7%;
    padding: 12px;
}

.promo i {
  margin: 40px 0;
  color: #fdd835;
  font-size: 7rem;
  display: block;
}

.icon i {
  display: block;
  color: #212121;
}

.arrow i {
  display: block;
  color: #616161;
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

.box {
  width: 300px;
  height: 300px;
  margin: auto; 
}

section {
  padding-bottom: 50px;
  padding-top: 10px;
  margin-bottom: -20px;
}

.judul h3 {
  margin: 0;
}

.row .col.small {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

@media only screen and (max-width: 600px) {
  .row .col.ilang {
      visibility: hidden;
      clear: both;
      float: left;
      display: none;
  }
}

@media only screen and (min-width: 601px) {
  /*pembagian 15*/
  .row .col.med1 {
    width: 6.66666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.med2 {
    width: 13.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.med3 {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.offset-custom {
    margin-left: 23.3333333333%;
  }
}

@media only screen and (min-width: 993px) {
  /*pembagian 15*/
  .row .col.y1 {
    width: 6.66666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.y2 {
    width: 13.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.y3 {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.offset-y1 {
    margin-left: 6.66666666667%;
  }
  .row .col.offset-y2 {
    margin-left: 13.3333333333%;
  }
  .row .col.offset-custom {
    margin-left: 23.3333333333%;
  }
}

.sso-warn {
  margin-top: 30px;
}

.vertical30 {
  height: 30px;
}

.vertical20 {
  height: 20px;
}

.vertical50 {
  height: 50px;
}

.vertical60 {
  height: 60px;
}

.quote {
  margin: 0 40px 0 40px;
}

.name {
  font-size: 140%;
  margin-bottom: 0;
}

.paddingtop { padding-top: 50px; }

.text-white {
  color: #eaeaea;
}

.text-magenta {
  color: #c2185b;
}

.text-cyan {
  color: #00acc1;
}

.text-yellow {
  color: #ffea00;
}

i.icon-white {
  color: #eaeaea;
}

i.icon-magenta {
  color: #c2185b;
}

i.icon-cyan {
  color: #00acc1;
}

i.icon-yellow {
  color: #ffea00;
}